{#
/**
 * @file
 * Default theme implementation for subscription management messages generated
 * by Simplenews.
 *
 * Instead of overriding the theming for all simplenews mails, you can also just
 * override theming for specific locales using
 * @link themeable Theme hook suggestions. @endlink For example, here are some
 * theme hook suggestions that can be used for a simplenews email:
 * - postoffice-simplenews-subscription-settings-email--en.html.twig
 * - postoffice-simplenews-subscription-settings-email.html.twig
 *
 * Available variables:
 * - body: The HTML body for this message.
 * - email: The email object. The SubstriptionSettingsEmailInterface and
 *     SiteEmailInterface determine what data is available to twig through this
 *     variable.
 * - langcode: The language code.
 *
 * @see \Drupal\postoffice_simplenews\Email\SubstriptionSettingsEmailInterface
 * @see \Drupal\postoffice\Email\SiteEmailInterface
 *
 * @ingroup themeable
 */
#}

{% embed 'postoffice-compat-email-body-notification.html.twig' %}

  {% block content %}
    {{ body }}
  {% endblock %}

{% endembed %}
